    *{
        align-items: center;
        transition: all 0.5ms;
        font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
        color: #fff;
        transition: all 1.2s;
    }
    #root_rt{
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }
    .product--image {
      width: 100%;
      height: 16em;
      object-fit: cover;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 320px;
      margin: auto 1rem;
      text-align: center;
      font-family: arial;
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button:hover {
      opacity: 0.7;
    }    
    .follow_us{
      width: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
    }
    .mes{
      display: flex;
      justify-content: center;
      width: 500px;
      gap: 50px;
    }
    .footer{
      background: url(./images/bgc.jpg);
    }
    .mes_click{
      height: 80px;
      border-image:url(./images/vk.png);
      display: flex;
      margin-top:35px;
      border-radius: 100px / 100px;
      border: solid 20px transparent;
      background: padding-box,
      linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
      animation: 8s rotate linear infinite;
    }
    .btnMain, .toTop-btn,.submit-button,.header_btn{
        cursor: pointer;
        background: linear-gradient(90deg, #451046, #772849, #A83F4C, #DF5950) ;
        background-size: 250% 250%;
        animation: gradient 10s ease infinite;
        transform: translate3d(0, 0, 0);
        width: 190px;
        font-size: 30px;
        border-radius: 100px / 50px;
        color: #fff;
        margin:15px;
    }
    .headerBtn{
      cursor: pointer;
        width: 190px;
        font-size: 30px;
        color: #fff;
        margin:15px;
    }
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }
    .toTop-btn{
        position: relative;
        bottom:70px;
        right:50px;
        cursor: pointer;
        z-index: 9999;
        border: none;
        border-radius: 50%;
        box-shadow: 1px 1px 10px #5c5c5ccb;
    }
    .btnMain{
      width: 350px;
      border-radius: 15px;
    }
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-image: url(./images/main-screen__bgc.jpg) ;
        background-attachment:scroll;
        background-size:100%;
        background-position:unset;
        background-repeat:no-repeat;
        text-align: center;
    }
    .main_hed{
        font-size: 84px;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .time{
        display: flex;
        justify-content:center;
        align-items: center;
        color: #fff;
        font-size:44px;
        height: 115px;
    }
    .main_man{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 600px;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 7%;
    }
    .time_times{
        margin: 30px;
        width:215px;
        height: 215px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #121212;
    }
    .time_times span{
        font-weight: 400;
    }
    .main_two{
        background-image: url(./images/bgc.jpg) ;
        background-attachment:local;
        background-size:100% ;
        background-position: fixed;
        background-clip:border-box;
        width: 100%;
        margin-top: 150px;
    }
    .kurs_po_obuch{
        width: 100%;
        height: 115px;
        display: flex;
        justify-content: space-evenly;
    }
    .ucheniki{
        color: #fff;
    }
    .information{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: stretch

    }
    .inf_op{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        border: 20px;
    }
    .foto{
        border-image: linear-gradient(90deg, #7D6BFA, #977BFB, #AD89FB, #C89AFC) ;
        margin-top:35px;
        margin-right: 0px;
        border-width:35px;
        border-radius: 10px;
        border: 20px solid transparent;
        background: linear-gradient(#3b384b, #4d31eb) padding-box,
        linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
        animation: 8s rotate linear infinite;
    }
    @keyframes rotate {
        to {
        --angle: 360deg;
        }
    }
    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    .h1_inf{
        width: 500px;
    }
    h1{
        font-size: 60px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 25px;
    }
    p, span, .num, .txt{
        font-size: 40px;
        font-weight: 900;
        color: #fff;
        margin-bottom: 25px;
    }
    p, span{
        font-weight: 300;
        color: #fff;
        font-size: 26px;
    }
    .p{
       font-size: 60px;
       font-weight: 700;
        
    }
    .border_o{
        border-image: linear-gradient(90deg, #7D6BFA, #977BFB, #AD89FB, #C89AFC) ;
        margin-top:35px;
        margin-right: 0px;
        border-width:30px;
        border: 75px solid transparent;
        background: linear-gradient(#3b384b, #4d31eb) padding-box,
        linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
        animation: 8s rotate linear infinite;
    }
    .border_t{
        border-image: linear-gradient(90deg, #7D6BFA, #977BFB, #AD89FB, #C89AFC) ;
        margin-top:35px;
        margin-right: 0px;
        border-width:30px;
        border: 65px solid transparent;
        background: linear-gradient(#3b384b, #4d31eb) padding-box,
        linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
        animation: 8s rotate linear infinite;
    }
    .border_th{
        border-image: linear-gradient(90deg, #7D6BFA, #977BFB, #AD89FB, #C89AFC) ;
        margin-top:35px;
        margin-right: 0px;
        border-width:30px;
        border: 55px solid transparent;
        background: linear-gradient(#3b384b, #4d31eb) padding-box,
        linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
        animation: 8s rotate linear infinite;
    }
    .border_f{
        border-image: linear-gradient(90deg, #7D6BFA, #977BFB, #AD89FB, #C89AFC) ;
        margin-top:35px;
        margin-right: 0px;
        border-width:30px;
        border: 45px solid transparent;
        background: linear-gradient(#3b384b, #4d31eb) padding-box,
        linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
        animation: 8s rotate linear infinite;
    }
    .start{
        display: flex;
        flex-direction: column;
    }
    .start_inf{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 150px;
    }
    .nine_proc{
        width: 100%;
    }
    .procent{
        display: flex;
        width: 60%;
        text-align: center;
        flex-direction: column;
    }
    .profice{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .prof_doc{
        display: flex;
    }
    .pract, .work, .study{
        display: flex;
        width: 500px;
        height: 500px;
        flex-direction: column;
    }
    img{
        background: transparent;
    }
    .flex_ayth_regist{
        background-image: url(./images/bgc.jpg) ;
        background-size:100% ;
        background-position: fixed;
        background-repeat:no-repeat;
        background-clip:border-box;
    };
    .loading-spinner {
        display: inline-block;

    }
    .loading-spinner  {
        width: 95px;
        height: 95px;
        border: 15px solid gradient;
        border-image: linear-gradient(90deg, #451046, #772849, #A83F4C, #DF5950) ;
        border-width:15px;
        background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(var(--angle), #451046, #772849, #A83F4C, #DF5950) border-box;
        animation: 8s rotate linear infinite;
        border-radius: 50%;
        display: inline-block;
        margin-right: 75px;
    }
    .loading-spinner{
        border-right-color: transparent;
    }
      @keyframes rotate-forever {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      .loading-spinner {
        animation-duration: 0.75s;
        animation-iteration-count: infinite;
        animation-name: rotate-forever;
        animation-timing-function: linear;
      }
      .image-container {
        background: var(image) no-repeat center;
        width: 250px;
        height: 200px;
        border-radius: 5px;
        border: 1px solid var(borderc);
        background-image: url(./images/logo.png);
        background-size:100% ;
        background-position: fixed;
        background-repeat:no-repeat;
        background-clip:border-box;
      };

      
      .placeholder {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(158, 15, 15), rgba(233, 19, 19, 0.2));
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .container{
          display: flex;
          flex-wrap: wrap;
          width: 1250px;
          gap:70px;
      }
      .partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 200px;
        height: auto;
      }
      .partner{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
      }
      .c_news{
        background-image: url(./images/bgc.jpg) ;
        background-size:100% ;
        background-position: fixed;
        background-repeat:no-repeat;
        background-clip:border-box;
      }
      .news{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        height: 1000px;
        gap: 30px;
      }
      .newspaper{
        width: 1000px;
        height: 300px;
        border-radius: 10px;
        background: #2b2a2a;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      h2{
        font-size: 48px;
      }
      .circle {
        position: relative;
        left: -100px;
        width: 0;
        height: 0;
        border: 50px solid #FDD835;
        border-radius: 50%;
        border-right-color: transparent;
        animation: move 5s linear 0s infinite normal forwards;
      }
      
      .circle:before {
        content: "";
        position: absolute;
        top: -50px;
        left: -50px;
        width: 0;
        height: 0;
        border: 50px solid #FDD835;
        border-radius: 50%;
        border-right-color: transparent;
        animation: chomp1 .25s ease-in-out 0s infinite normal forwards;
      }
      
      .circle:after {
        content: "";
        position: absolute;
        top: -50px;
        left: -50px;
        width: 0;
        height: 0;
        border: 50px solid #FDD835;
        border-radius: 50%;
        border-right-color: transparent;
        animation: chomp2 .25s ease-in-out 0s infinite normal forwards;
      }
      
      .loader {
        position: relative;
        top: 50px;
        width: 300px;
        height: 0px;
        border-top: 10px dotted black;
        animation: loader_4013 5s ease-in-out 0s infinite normal forwards;
      }
      
      .dots {
        position: relative;
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .dot {
        position: relative;
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border-radius: 50%;
        background: #1E88E5;
        animation: dot1 5s linear 0s infinite none normal;
      }
      
      .dot:nth-child(1) {
        animation-delay: 0s
      }
      
      .dot:nth-child(2) {
        animation-delay: 0.25s
      }
      
      .dot:nth-child(3) {
        animation-delay: 0.5s
      }
      
      .dot:nth-child(4) {
        animation-delay: 0.75s
      }
      
      .dot:nth-child(5) {
        animation-delay: 1s
      }
      
      .dot:nth-child(6) {
        animation-delay: 1.25s
      }
      
      .dot:nth-child(7) {
        animation-delay: 1.5s
      }
      
      .dot:nth-child(8) {
        animation-delay: 1.75s
      }
      
      .dot:nth-child(9) {
        animation-delay: 1.9s
      }
      
      .dot:nth-child(10) {
        animation-delay: 2.1s
      }
      
      .dots2 {
        position: relative;
        top: 50px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .dot2 {
        position: relative;
        left: -10px;
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border-radius: 50%;
        background: #F44336;
        opacity: 0;
        animation: dot2 5s linear 0s infinite none normal;
      }
      
      .dot2:nth-child(10) {
        animation-delay: 2.5s
      }
      
      .dot2:nth-child(9) {
        animation-delay: 2.75s
      }
      
      .dot2:nth-child(8) {
        animation-delay: 3.0s
      }
      
      .dot2:nth-child(7) {
        animation-delay: 3.25s
      }
      
      .dot2:nth-child(6) {
        animation-delay: 3.5s
      }
      
      .dot2:nth-child(5) {
        animation-delay: 3.75s
      }
      
      .dot2:nth-child(4) {
        animation-delay: 4.0s
      }
      
      .dot2:nth-child(3) {
        animation-delay: 4.25s
      }
      
      .dot2:nth-child(2) {
        animation-delay: 4.5s
      }
      
      .dot2:nth-child(1) {
        animation-delay: 4.6s
      }
      /* #F44336;, #1E88E5, #FDD835; */
      @keyframes chomp1 {
        0% {
          transform: rotate(0deg);
        }
      
        50% {
          transform: rotate(45deg);
        }
      
        100% {
          transform: rotate(0deg);
        }
      }
      
      @keyframes chomp2 {
        0% {
          transform: rotate(0deg);
        }
      
        50% {
          transform: rotate(-45deg);
        }
      
        100% {
          transform: rotate(0deg);
        }
      }
      
      @keyframes move {
        0%, 100% {
          left: -100px;
        }
      
        0%, 48% {
          transform: rotateY(0deg);
        }
      
        50%, 100% {
          transform: rotateY(180deg);
        }
      
        50% {
          left: 100%;
        }
      }
      
      @keyframes loader_4013 {
        0%, 100% {
          border-top: 10px dotted #1E88E5;
        }
      
        0%, 48% {
          border-top: 10px dotted #1E88E5;
        }
      
        50%, 100% {
          border-top: 10px dotted #F44336;
        }
      
        50% {
          border-top: 10px dotted #F44336;
        }
      }
      
      @keyframes dot1 {
        0%,4% {
          background: #1E88E5;
          opacity: 1;
        }
      
        5%,94% {
          background: #F44336;
          opacity: 0;
        }
      
        95%,100% {
          background: #1E88E5;
          opacity: 1;
        }
      }
      
      @keyframes dot2 {
        0%,4% {
          background: #F44336;
          opacity: 1;
        }
      
        5%,94% {
          opacity: 0;
        }
      
        95%,100% {
          background: #F44336;
          opacity: 1;
        }
      }
      .eye_icon{
        width: 20px; 
        height: 20px;
        position: absolute;
        top: 11px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
      }
      
      .passInput{
        position: relative;
      }
      .timeline {
        position: relative;
        width: 1000px;
        height: 900px;
        margin:  auto;
    }
    
    .line {
        position: absolute;
        margin-top: 25px;
        left: 50%;
        height: 58%;
        width: 5px;
        border-radius: 5px;
        border-image: linear-gradient(0deg, 360deg, #7D6BFA, #977BFB, #AD89FB, #C89AFC) ;
        border: 5px solid transparent;
        background: linear-gradient(#3b384b, #4d31eb) padding-box,
        linear-gradient(var(--angle), #563dfc, #8363f7, #b191f8, #C89AFC) border-box;
        animation: 8s rotate linear infinite;
    }
    
    .week {
        position: absolute;
        width: 350px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    
    .week span {
        padding: 5px;
        background-color: transparent;
        border-radius: 4px;
        width: 350px;
        height: 75px;
    }
    
    .left {
        left: calc(50% - 360px); /* Сдвигаем налево */
        text-align: left; /* Текст выравниваем по правому краю */
    }
    
    .right {
        right: calc(50% - 365px);
        text-align: right; /* Сдвигаем направо */
    }

    .programme_stydies{
      width: 1800px;
      height:1000px;
    }
    .profile-card {
      width: 300px;
      text-align: center;
      font-size: 20px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      border-radius: 10px;
      position: relative;
  }
    .teacher_name{
      font-size: 45px;
    }
    .profile-photo {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      margin-bottom: 10px;
  }
    .bio-button {
      border: solid 1px;
      border-radius: 100px / 90px;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      outline: none;
  }
  
  .bio-popup {
      display: none;
      position: absolute;
      bottom: -100px; /* Adjust this value based on the actual content size */
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
      padding: 10px;
      background-color: #3f3e3ed5;
      box-shadow: 0 2px 8px rgb(0, 0, 0);
      border-radius: 5px;
      z-index: 1000;
      color: #000000;
  }
  .bio-button:hover + .bio-popup {
      display: block;
  }
  .teachers{
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    justify-content: center;
    flex-direction: row;
  }
  .tabloid{
    display: flex;
    gap: 150px;
  }
  .email-input {
    flex-grow: 0.3; /* Input занимает всё доступное пространство */
    margin-right: 8px; /* Отступ справа */
    height: 45px;
    width: 500px;
    border-radius: 100px / 60px;
    padding-left: 15px;
    background: #ffffff36;
    color: #fff;
  }
  .email-input-container {
    display: flex; /* Задаем флексбокс для горизонтального расположения */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
  }
  .submit-button {
      padding: 8px 16px; /* Паддинги для кнопки */
      cursor: pointer;
      font-size: 22px; /* Курсор в виде руки при наведении */
  }
  .states{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    height: 400px;
  }
  .prof_doc{
    gap: 100px;
  }
  .kurs_po_obuch{
    background: rgb(19, 17, 17);
  }
  .card {
    width: fit-content;
    height: fit-content;
    background-color: rgba(238, 238, 238, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 82px;
    height: 82px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 37px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  
  .slide {
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }